# Altium specific
*.PrjPCBStructure
*.Dat
*.OutJob
__Previews/
History/
AltiumDesigner/
Simulation/
Project Logs/
*.DRC
*.RUL
*.Mch
*.PCBLib
*.SCHLib
*.intlib
*.LibPkg
*.log
*.tmp
*.STEP
*.STP
*.bak
*.zip
*.swp
*.gbr
*.Cam
*.APR_LIB
*.EXTREP
*.REP
*.apr
*.Txt
*.html
*.txt
*.csv
*.jpg
*.GBL
*.DRR
*.GB0
*.GB1
*.GBS
*.GM1
*.GM11
*.GM13
*.GM15
*.GM16
*.GM3
*.GM5
*.GPB
*.GPT
*.GTL
*.GT0
*.GTP
*.GTS
*.LDP
